## Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [37]:
# Importing libraries and dependencies:
import pandas as pd
import numpy as np
from collections import Counter

In [38]:
# Importing the evaluation metrics for models:
from sklearn.metrics import balanced_accuracy_score,confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Data Processing

In [39]:
# Retreiving data:
df = pd.read_csv('LoanStats_2019Q1 (1).csv')

In [40]:
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [41]:
# Features prcessing them into numeric values:
x = df.drop(columns = ['loan_status'])
X =pd.get_dummies(x)

In [45]:
# Target declaration:
y = df['loan_status']
y.head()

0    low_risk
1    low_risk
2    low_risk
3    low_risk
4    low_risk
Name: loan_status, dtype: object

In [43]:
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [44]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

## Splitting Data

In [46]:
# Splitting the data into training and testing data sets:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1,stratify = y)

In [47]:
Counter(y_train)

Counter({'low_risk': 51352, 'high_risk': 260})

## Scaling

In [48]:
# Scaling the features training and testing data sets:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [13]:
x_scaler = scaler.fit(X_train)

In [14]:
X_train_scaled = x_scaler.transform(X_train)
X_test_scaled = x_scaler.transform(X_test)

## Balanced Random-Forest Classifier

In [53]:
# Instantiating the model:
from imbalanced_ensemble.ensemble import BalancedRandomForestClassifier
model = BalancedRandomForestClassifier(random_state=1)

In [54]:
# fitting the model:
model.fit(X_train_scaled,y_train)

BalancedRandomForestClassifier(random_state=1)

In [55]:
# Making predictions:
pred = model.predict(X_test_scaled)

## Model Evaluation

In [22]:
balanced_accuracy_score(y_test,pred)

0.7722210135731293

In [23]:
confusion_matrix(y_test,pred)

array([[   59,    28],
       [ 2289, 14829]], dtype=int64)

In [24]:
print(classification_report_imbalanced(y_test,pred,digits=4))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk     0.0251    0.6782    0.8663    0.0485    0.7665    0.5764        87
   low_risk     0.9981    0.8663    0.6782    0.9275    0.7665    0.5985     17118

avg / total     0.9932    0.8653    0.6791    0.9231    0.7665    0.5984     17205

## Feature Importance

In [25]:
sorted(zip(model.feature_importances_,X.columns),reverse=True)

[(0.07340741376094133, 'total_rec_prncp'),
 (0.0626679371613617, 'total_pymnt_inv'),
 (0.060804486949464866, 'total_rec_int'),
 (0.054658049692753966, 'total_pymnt'),
 (0.048957089525894226, 'last_pymnt_amnt'),
 (0.02721643660808297, 'int_rate'),
 (0.02119053833148393, 'out_prncp'),
 (0.02044653475974467, 'mths_since_recent_inq'),
 (0.019865475845739, 'max_bal_bc'),
 (0.01895550633373847, 'bc_util'),
 (0.018537353981094084, 'installment'),
 (0.017137661662797662, 'dti'),
 (0.016919756507266827, 'total_bc_limit'),
 (0.016374212643895065, 'revol_bal'),
 (0.016134524156450888, 'issue_d_Jan-2019'),
 (0.014488886755441736, 'total_bal_ex_mort'),
 (0.014356099474616467, 'avg_cur_bal'),
 (0.014174303655222842, 'annual_inc'),
 (0.013655785543463079, 'mths_since_rcnt_il'),
 (0.013600666626181597, 'out_prncp_inv'),
 (0.013513760875056995, 'tot_cur_bal'),
 (0.01331266920013072, 'mo_sin_old_il_acct'),
 (0.013166157318349808, 'all_util'),
 (0.012929286039201777, 'issue_d_Mar-2019'),
 (0.01273012376738467, 'tot_hi_cred_lim'),
 (0.012725648203370661, 'mo_sin_old_rev_tl_op'),
 (0.01262000428660686, 'bc_open_to_buy'),
 (0.012378770618582755, 'mo_sin_rcnt_rev_tl_op'),
 (0.012125502337871042, 'total_bal_il'),
 (0.011445821263784302, 'mths_since_recent_bc'),
 (0.011405784699975918, 'total_il_high_credit_limit'),
 (0.011205687635091666, 'num_rev_accts'),
 (0.011147349191424622, 'il_util'),
 (0.010924130040449155, 'total_rev_hi_lim'),
 (0.01081423970154186, 'num_op_rev_tl'),
 (0.010729117327899253, 'inq_last_12m'),
 (0.01026905980092919, 'loan_amnt'),
 (0.009843352554946335, 'pct_tl_nvr_dlq'),
 (0.009777713335547202, 'total_acc'),
 (0.008791283826242708, 'open_acc'),
 (0.008779630212644817, 'percent_bc_gt_75'),
 (0.00859781562044679, 'num_rev_tl_bal_gt_0'),
 (0.008497258122022046, 'num_bc_tl'),
 (0.008320157491322769, 'num_actv_rev_tl'),
 (0.008203863529948886, 'mort_acc'),
 (0.00807801666045876, 'num_sats'),
 (0.007904534572253397, 'open_rv_24m'),
 (0.0077401456750806966, 'num_actv_bc_tl'),
 (0.007456867004915638, 'open_il_24m'),
 (0.007411487952615365, 'open_act_il'),
 (0.0074103552876741445, 'num_il_tl'),
 (0.007324504445761303, 'total_cu_tl'),
 (0.006912202014808189, 'mo_sin_rcnt_tl'),
 (0.006726347626829119, 'open_acc_6m'),
 (0.006531901486051179, 'open_il_12m'),
 (0.006390881615570037, 'num_bc_sats'),
 (0.00623734601511399, 'num_tl_op_past_12m'),
 (0.006211995352441355, 'inq_fi'),
 (0.0061034731228739834, 'open_rv_12m'),
 (0.005730387400221114, 'next_pymnt_d_Apr-2019'),
 (0.005500247627147363, 'acc_open_past_24mths'),
 (0.00505005312295922, 'delinq_2yrs'),
 (0.004897872505754642, 'issue_d_Feb-2019'),
 (0.0048648679569704475, 'total_rec_late_fee'),
 (0.004421977592699881, 'tot_coll_amt'),
 (0.004148934585384779, 'next_pymnt_d_May-2019'),
 (0.003952803457935792, 'inq_last_6mths'),
 (0.0033139992551219103, 'num_accts_ever_120_pd'),
 (0.0023639758076790633, 'verification_status_Verified'),
 (0.0021565355854880953, 'verification_status_Not Verified'),
 (0.002134786893258826, 'home_ownership_RENT'),
 (0.00212303442204788, 'home_ownership_MORTGAGE'),
 (0.0020237895599596657, 'verification_status_Source Verified'),
 (0.0019901853566549345, 'pub_rec'),
 (0.001862453161000344, 'home_ownership_OWN'),
 (0.0017188121315141148, 'pub_rec_bankruptcies'),
 (0.001539877970712007, 'initial_list_status_f'),
 (0.0010381158258416247, 'application_type_Individual'),
 (0.0009291049235595289, 'collections_12_mths_ex_med'),
 (0.0008862276237783167, 'num_tl_90g_dpd_24m'),
 (0.000555189453489059, 'initial_list_status_w'),
 (0.0004205939566348796, 'application_type_Joint App'),
 (0.00013320801533121788, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

## Easy ensemble calssifier

In [57]:
# Instantiating the model:
from imbalanced_ensemble.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100,random_state=1)

In [58]:
# Fitting the model :
eec.fit(X_train_scaled,y_train)

EasyEnsembleClassifier(base_estimator=AdaBoostClassifier(n_estimators=10),
                       n_estimators=100, random_state=1)

In [59]:
# Making Predictions:
eec_pred = eec.predict(X_test_scaled)

## Model Evaluation:

In [32]:
balanced_accuracy_score(y_test,eec_pred)

0.8524672556816579

In [33]:
confusion_matrix(y_test,eec_pred)

array([[   66,    21],
       [  919, 16199]], dtype=int64)

In [34]:
print(classification_report_imbalanced(y_test,eec_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.76      0.95      0.12      0.85      0.70        87
   low_risk       1.00      0.95      0.76      0.97      0.85      0.73     17118

avg / total       0.99      0.95      0.76      0.97      0.85      0.73     17205

#### Q-1: Best accuracy score ?

In [ ]:
# eec
# accuracy = 0.85

#### Q-2: Best recall ?

In [ ]:
# eec
# 0.95

#### Q-3: Best geometric mean score ?

In [35]:
# eec
# 0.85

#### Q-4: Top 3 Features?

In [36]:
# The top three features for the Balanced Random Forest Classifer are total_rec_prncp (7.34%), total_payment_inv(6.26%), and total_rec_int (6.08%)